description = "header"

[viewBag]
==
<header>
  <div class="container-fluid px-0">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark nav-autohide">
      <div class="navbar-compensation container-md">
        <a class="navbar-brand fw-bold fs-4" href="{{'home'|page}}">Mockup</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Переключатель навигации">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav fs-5 text-end mt-lg-0 mt-2">
            <li class="nav-item">
              <a class="nav-link {{ this.page.title == 'Home' ? 'active' : null }}" aria-current="page" href="{{'home'|page}}"><i class="bi bi-house"></i>&nbsp;Home</a>
            </li>
            <li class="nav-item ps-3">
            <a class="nav-link {{ this.page.title == 'Blog' ? 'active' : null }}" href="{{'blog'|page}}"><i class="bi bi-pencil-square"></i>&nbsp;Blog</a>
            </li>
            <li class="nav-item ps-3">
              <a class="nav-link {{ this.page.title == 'Contacts' ? 'active' : null }}" href="{{ 'contacts'|page }}"><i class="bi bi-signpost"></i>&nbsp;Contacts</a>
            </li>
            <li class="nav-item ps-3">
            <a class="nav-link" href="{{ 'docs/docs'|page }}"><i class="bi bi-book"></i>&nbsp;Docs</a>
            </li>
            <li class="nav-item ps-3">
              <a class="nav-link" href="/backend"><i class="bi bi-speedometer2"></i>&nbsp;Backend</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="container-md blur">
    <div class="row">
      <div class="col">
        <h1 class="section">{{ this.page.title }}</h1>
      </div>
    </div>
  </div>
</header>
