// home.scss
@use "sass:math";

.nav-autohide {
  transition: 0.5s;
  &.is-hidden {
    transform: translateY(-(3.875rem + 0.125rem));
    box-shadow: none;
  }
}

.section {
  text-align: center;
  margin: $gutter auto;
  padding-top: $gutter * 0.5;
  padding-bottom: $gutter * 0.5;
  background-color: #eee;
}

.pswinit {
  cursor: pointer;
  transition: 0.25s;
  &:hover {
    transform: translateY(-0.125rem);
    box-shadow: 0px 3px 7px rgba(#000, 0.25);
  }
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  padding: $gutter 0;

  figure {
    $imgwidth: 100%;
    width: $imgwidth;
    height: math.div(10, 16) * $imgwidth;
    display: inline-block;
    margin: $gutter * 0.375 $gutter * 0.25;
    padding: 0.25rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    transition: 0.25s;

    @include media-breakpoint-up(sm) {
      width: 10.8rem;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:hover {
      transform: translateY(-0.125rem);
      box-shadow: 0px 3px 7px rgba(#000, 0.25);
    }
  }
}

.post-img {
  @include media-breakpoint-up(sm) {
    margin-right: $gutter * 0.5;
    width: 15rem;
  }
}

.blog-img {
  @include media-breakpoint-up(sm) {
    margin-right: $gutter * 0.5;
    width: 8rem;
  }
}

.flat {
  height: 100vh;
  margin-top: -4rem;
  background-color: $dark;
  display: flex;
  align-items: center;
}
