description = "Flat layout"
==
<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8" />
  <title>Starter | {{ this.page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="title" content="{{ this.page.meta_title }}">
  <meta name="description" content="{{ this.page.meta_description }}">
  <meta name="author" content="llcawc by pasmurno">
  <link rel="icon" href="{{ 'assets/images/favicon.png'|theme }}" type="image/png">
  <meta property="og:image" content="{{'assets/images/preview.jpg'|theme}}">
  {% styles %}
  <link rel="stylesheet" href="{{ 'assets/css/main.min.css'|theme }}" />
</head>

<body class="flat">
  {% page %}
  <!-- Scripts -->
  <script src="{{ 'assets/js/app.min.js'|theme }}"></script>
  {% scripts %}

</body>

</html>